@import "../../assets/scss/varibles.scss";

.header-wrap {
    background-color: $color-default;
    height: 100%;
    padding-top: 5px;
    box-sizing: border-box;
}

.brand {
    color: #fff;
    font-size: 36px;

}

.link {
    padding-top: 12px;
    a {
        text-decoration: none;
        padding: 5px 10px;
        background-color: $color-primary;
        border-radius: 3px;
        color: #fff;
        transition: background-color .3s;
        &:hover {
            background-color: $color-primary - 50;
        }
    }
}
