.panel-heading {
    background-color: #ddd;
    margin: -1px;
    border: 1px solid #ccc;
}

.code-demo ul {
    line-height: 36px;
    height: 40px;
    background-color: #f5f5f5;
    padding-left: 0;
    margin-bottom: -3px;
    list-style: none;
    border: 1px solid #ccc;
    border-bottom: 0;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

.code-demo ul a {
    padding: 0 20px;
    text-decoration: none;
    display: block;
}

.code-demo ul li {
    float: left;
    border-right: 1px solid #ccc;
}

.code-demo ul li.active {
    background-color: #337ab7;
}

.code-demo ul li.active a {
    color: #fff;
}

.doc-content {
    padding-bottom: 0;
}

.doc-content div {
    display: none;
}

.doc-content .active {
    display: block;
}

.demo {
    padding: 30px 15px 60px;
}