@import "../../assets/scss/varibles.scss";
.footer-wrap{
    border-top: 1px solid #ccc;
    background-color: #f5f5f5;
    height: 100%;
    line-height: $footer-height;
    box-sizing: border-box;
    overflow: hidden;
}